.link_style {
    color: red;
    font-weight: bold;
}
table {
    width: 100%;
    border-collapse:collapse;
    border-spacing: 0;
    height: auto;
}
td {
    border: 2px solid rgba(0, 0, 0, 0.9);
    padding: 3px;
    width: 30px;
    height: 35px;
}
td:hover {
    cursor: pointer;
    background: rgba(255, 255, 0, 0.38);
    transition: .7s;
}
tr td p {
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
}
input {
    width: 90%;
    height: 66%;
    margin: 0 auto;
    text-align: center;
    display: block;
}
span {
    font-family: sans-serif;
    width: 140px;
    height: 22px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    text-align: center;
}